<!DOCTYPE html>
<html>
  <head>
    <title>MessageMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  </head>

  <body>
    <div class="ui small inverted menu">
      <div class="ui container">
        <%= link_to 'Chatroom', root_path, class: "item" %>
        <a class="item">
          Messages
        </a>
        <div class="right menu">
          <div class="ui dropdown item">
            Account <i class="dropdown icon"></i>
            <div class="menu">
              <%= link_to 'Login', login_path, class: "item" %>
              <a class="item">Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
